max_connections = 512

innodb_autoextend_increment        = 256
innodb_buffer_pool_instances       = 12
innodb_buffer_pool_size            = 10G
innodb_concurrency_tickets         = 5000
innodb_file_per_table              = 1
innodb_flush_log_at_trx_commit     = 2
innodb_flush_method                = O_DIRECT
innodb_log_file_size               = 512M
innodb_log_files_in_group          = 4
innodb_old_blocks_time             = 1000
innodb_open_files                  = 2048
innodb_stats_on_metadata           = OFF

binlog-row-event-max-size          = 8192
binlog-format                      = MIXED
expire_logs_days                   = 1
join_buffer_size                   = 262144
max_heap_table_size                = 134217728
query_cache_type                   = 0
query_cache_size                   = 0
slow-query-log                     = ON
table_open_cache                   = 2048
thread_cache_size                  = 64
tmp_table_size                     = 134217728
wait_timeout                       = 86400


# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
